{{!-- <div class="row align-center mb-5">
  <div class="col-md-6"> --}}

{{!-- <div class="dog-gallery"> --}}
  <div class=" col-md-10">
    <h2>
      Playdate Pups
    </h2>   
  </div>  
 <section class = "container-md dog-gallery">
  <div class = "row">
 <div class = "dog-card">
  {{#each dogs as |dog|}}
    <div class="dish col">
      
      <p>
        <a href="/furr-baby/{{dog.id}}">
        {{dog.dog_name}}
        </a>
      </p>
    </div>
    <div class= "card-body col">
      {{#if dog.image}}
      <img src="{{dog.image}}" alt="{{dog.dog_name}}">
      {{else}}
      <img src="https://via.placeholder.com/225" alt="placeholder">
      {{/if}}
      <p>
        {{dog.about}}
      </p>

        {{#each dog.user.locations as |location|}}
        <p>{{location.name}}</p>
        {{/each}}

    </div>
  {{/each}}
</div>
</div>
</section>
<!-- This is the form for adding a new dish -->
{{!-- <script src='/js/.js'></script> --}}
