<div class="dog-card">
  <div class="dog-card-header text-center">
    {{dog.dog_name}}
  </div>
  <div class="card-body">
    {{#if dog.image}}
    <img src="{{dog.image}}" alt="{{dog.dog_name}}" class="img-fluid">
    {{else}}
    <img src="https://via.placeholder.com/225" alt="placeholder">
    {{/if}}
    <h6>
      About:
      {{dog.about}}
    </h6>
    <p>
      Owner:
    {{dog.user.name}}
    </p>
    <a href="mailto:{{dog.user.email}}"> <button class="dog-button" type="button">Set Up a Date!</button></a>
   
  </div>
</div>



